<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Foro</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/public/bootstrap.css">
  </head>
<body>
    <%- include("navbar")%>
    <div class="divmain">
      <%- include("main")%>
      <%- include("aside")%>  
    </div>
      <%- include("footer")%>
    <script>src="/bootstrap.js"</script>
  </body>
</html>